@charset "UTF-8";














a{
    font-size: 1.4em;
    color:rgb(0, 0, 0);
    text-decoration: none;
}

div.voltar{
    text-align: center;
    max-width: 300px;
    min-width:120px ;
    margin: auto;
    border-radius: 50px;
    box-shadow: 1px 1px 5px 1px  rgb(0, 0, 0);


    background-color: var(--laranja);
}
a.rodape {
    width: 20px;
    height: 20px ;
    text-align: center;
    

}
img{
    margin: 2px;
    width: 80px;
    height: 80px;
    
}






/* ---------- footer ----------*/


footer  {
    margin-bottom: 0px;
    box-shadow: inset 1px 1px 50px 1px  black;
    text-align: center;
    padding: 10px;
   