@charset "UTF-8";
:root{
    --laranja:#fff700;
}
*{
    margin: 0px;
    border: 0px;
}

body{
    
    font-family: 'Times New Roman', Times, serif;

    width: 100%;
    height: 100%;
    
    
    color: white;
    background-color: black;
    background-image: url('cenario-texturizado-de-parede-de-concreto-solido_53876-129493.avif');
    background-repeat: repeat-y;
    background-size: cover;



    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
nav{

 

    margin: 0px 0px 0px 0px ;
    

    max-width: 100% ;
}
nav h1{
    margin-right: 2px; 
    font-style: italic;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    color: var(--laranja);
    

}
nav div{
    margin: auto 8%;
    display: inline-block;
    text-align: right;
    padding: 15px;
}
main img{
    border: 3px solid var(--laranja);
    border-radius: 15px;
}






header{
    box-shadow: inset 200px 2px 1000px 10px black;
    background-image: url('2021-06-blog-digital-LinkedIn-1200-x-627-1.webp') ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;


    width: 100%;
    height: 450px;

    margin: 0px ;
    padding-top: 80px;


    
}

header div{
    min-width: 230px;
    max-width: 400px;
    padding: 30px;

    font-family: 'Courier New', Courier, ;

    color: rgb(255, 255, 255);
    

    text-align: left;
    margin: 0px 10px;
}

header>div>p{
   margin-bottom: 10px;
    margin-top: 15px;
    max-width: 350px;
    min-width: 100px;

    text-align: justify;
}


main{
    margin-top: 50px;
}


main div{
    min-width: 130px;
    max-width: 500px;

    display: inline-block;
    justify-content: center;

    margin: 20px 0px;
}
main img{
    border: 3px solid var(--laranja);
    width: 100%;
    width: 150px;
    height: 150px;
}
section img:hover{
    box-shadow: 1px 1px 10px 1px var(--laranja);

}















a{
    font-size: 1.4em;
    color:rgb(0, 0, 0);
    text-decoration: none;
}

div.voltar{
    text-align: center;
    max-width: 300px;
    min-width:120px ;
    margin: auto;
    border-radius: 50px;
    box-shadow: 1px 1px 5px 1px  rgb(0, 0, 0);


    background-color: var(--laranja);
}
a.rodape {
    width: 20px;
    height: 20px ;
    text-align: center;
    

}
img{
    margin: 2px;
    width: 80px;
    height: 80px;
    
}
footer  {
    margin-bottom: 0px;
    box-shadow: inset 1px 1px 50px 1px  black;
    text-align: center;
    padding: 10px;
   
    border-radius: 10px;
    
    height: 100px;
    background-image: linear-gradient(0deg,black,rgba(36, 36, 36, 0.79),#5a5a5ae0);
    background-position: bottom center;
    display: flex;
    justify-content: center;
    
}


footer div {
    
    margin: 0px 0 px;
    
}
a p{
    margin:0%;
    text-align: center;
}


footer a{

    text-align: center;
    text-decoration: none;
    color:white ;
    
    font-size: 1.0em;

}

footer a:hover{
    margin:auto 5px;
    font-size: 1.1em;
    color:var(--laranja);
    transition: 0.5s;
        
  

}
 h3{
    margin-left: 2%;
    text-align: left;
    color: var(--laranja);
}

li a{
    color: azure;
}


ul{
    
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 1px;

}

ul li{
    color: black;
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px ;
    padding: 5px;
    
    margin: 10px 20px ;
}

ul li:hover{

    
    color:black;
    transition: 0.2s;
    border-radius: 5px ;
    padding: 5px;

    color: black;
    box-shadow:  1px 1px 5px 1px  var(--laranja);
    background-color: var(--laranja);
    margin: 10px 20px ;
}
nav{
    background-image: linear-gradient(180deg,black,rgba(36, 36, 36, 0.79),#5a5a5ae0);
    padding-top: 20px;
    margin-bottom: 0px;

}
nav h1{
    margin-right: 2px; 
   font-style: italic;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    color: var(--laranja);

}

 nav a{
    font-size: 1.5em;
    font-family:'Times New Roman', Times, serif;
    color:rgb(0, 0, 0);
    text-decoration: none;
}
nav a:hover{
    font-size: 1.5em;
    color:black;
    transition: 0.5s;
    
}
nav h1{
    color:var(--laranja);
}