@charset "UTF-8";

*{
    margin: 0px ;
    padding: 0px ;
   
}

/*  BODY */

body{
    

  background: linear-gradient(180deg, black, rgb(0, 40, 80), rgb(0, 128, 255) ) fixed ;
    background-size: cover;
    
  
}

/* main */

main{
    
    height: 100vh;

    
    padding: auto 50px ;
    
    display: flex;

    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;

}

@media screen and (min-width:798px){
    main{
        justify-content: center;
    }

    
}



/*SECTION /  DIV'S   */

section{
    background-color: white;

    width: 80vw;
    height: 70vh;

    max-width: 1200px;
}


/* CAIXA DE PERFIL */
section div.perfil{
    color: white;
   background-image: url(cenario-texturizado-de-parede-de-concreto-solido_53876-129493.avif);
   background-position: center center;
   background-size: cover;
   display: flex;
   flex-direction: column;
   align-items: center;
   
   box-shadow: inset 0px 0px 30px black;

}

section div.perfil h1{
    font-size: 3em;
    text-align: center;

    padding: 30px 10px 20px 10px ;
}

@media  screen and (min-width: 600px) {
    section div.perfil h1{
        font-size: 4em;
        
    }

   
    
}

section div.perfil img {
    margin: auto;


    width: 60%;
    min-width: 150px;
    max-width: 600px;
    
    min-height: 150px;
    max-height: 600px;

    border-radius: 50%;
    box-shadow:  0px 0px 15px 0px rgb(0, 128, 255) ;
    
    
    margin: 15px ;
}

section div.perfil p {
    font-size: 1em;
    
    padding: 15px;
    width: 60%;
    margin: 15px;
    
    margin-bottom: 50px;
   
    
    
}
 

 @media  screen and (min-width:600px) {
     section div.perfil p{
        font-size: 1.5em;

        
        text-align: left;
        
        max-width: 800px;
       
    }
    
 }



/* CAIXA DE PROJETOS  */

section div.projetos h1{
    font-size: 3em;
    text-align: center;
    margin: 15px;
    
}

@media screen and (max-width:600px ){
    section div.projetos h1{
        font-size: 1em;

    }
}



/*  CAIXA DE LINGUAGENS  */


aside div.linguagens {
    margin: 25px 0px;
    width: 10vw;
    
    background-color: chartreuse;
    min-height: 60px;
    min-width: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:350px){
    aside div.linguagens {
        margin-right: 8px;
    }
}

@media screen and (min-width:798px ) {
    aside div.linguagens {
        width: 80px;
        height: 60px;
        margin-right: 60px;


    }


}


/*       PROEJTOS      */

div.projetos{   
   display: flex;
   flex-direction: column;
   
   
   
    height: 100px;
}

.link{
    text-align: center ;
   
    flex: 1;
    padding: 10px 20px;
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link-img-proejto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
